#logo-principal{
    height: 30vw;
    width: 30vw;
    min-height: 100px;
    min-width: 100px;
    max-height: 300px;
    max-width: 300px;
}

#logo-minimal{
    height: 50px;
    width: 50px;
}

.logo-brand{
    height: 7vw;
    width: 7vw;
    min-height: 50px;
    min-width: 50px;
    max-height: 65px;
    max-width: 65px;
    border-radius: 10px;
}

.session-header-logo{
    height: 15vw;
    width: 15vw;
    min-height: 80px;
    min-width: 80px;
    max-height: 300px;
    max-width: 300px;
    border-radius: 10px;
}